doctype html
html
 head
  title FABCAR
 body
  h1 DETAILS OF ALL CAR
   br 
   a(href='/api/allcars')  View All Cars
   br
   a(href='/api/createcar')  Insert  a new car
  ul
   each item in list
    li="CARID:  " +item["Key"]+"  "  +item["Record"]["userName"]+" Name:  "  + item["Record"]["password"] + " pwd:  "
